# Pandas Practice

In [1]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
url = r'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [3]:
df = pd.read_csv(url,sep='\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
## #print first 5 and last 7 records
print('---------------------------------------- head 5 ------------------------------')
print(df.head(5))

print('---------------------------------------- tail 7 ------------------------------')
print(df.tail(7))

---------------------------------------- head 5 ------------------------------
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
---------------------------------------- tail 7 ------------------------------
      order_id  quantity            item_name  \
4615      1832         1   Chicken Soft Tacos
4616      1832         1  Chips and Guacamole
4617      1833         1        Steak Burrito
4618      1833         1        Steak Burrito
4619      1834         1   Chicken Salad Bowl
4620      1834         1   Chicken Salad Bowl
4621      1834         1   Chicken Salad Bowl

                                     choice_description item_price
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75
4616                                                NaN     $4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

## # print total records and type of variables

In [6]:
##df.dtypes

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [7]:
df.shape

(4622, 5)

In [8]:
### print total records
df.shape[0]

4622

In [9]:
## #Print the name of all the columns.
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [10]:
## #How is the dataset indexed?
df.index

RangeIndex(start=0, stop=4622, step=1)

In [11]:
### Which was the most ordered item? and How many items were ordered?
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [12]:
df.groupby(['order_id']).sum()

          quantity
order_id
1                4
2                2
3                2
4                2
5                2
...            ...
1830             2
1831             3
1832             2
1833             2
1834             3

[1834 rows x 1 columns]

In [13]:
a = df.groupby(['item_name']).sum()
a = a.sort_values(['quantity'],ascending=False)
a

                                       order_id  quantity
item_name
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chips and Guacamole                      449959       506
Steak Burrito                            328437       386
Canned Soft Drink                        304753       351
Chips                                    208004       230
Steak Bowl                               193752       221
Bottled Water                            175944       211
Chips and Fresh Tomato Salsa             100419       130
Canned Soda                               76396       126
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Side of Chips                             84769       110
Veggie Burrito                            80962        97
Barbacoa Burrito                          74718        91
Veggie Bowl                               72270        87
Carnitas Bowl                             62742        71
Barbacoa Bowl                             53972        66
Carnitas Burrito                          51652        60
Steak Soft Tacos                          50177        56
6 Pack Soft Drink                         52322        55
Chips and Tomatillo Red Chili Salsa       45556        50
Chicken Crispy Tacos                      47382        50
Chips and Tomatillo Green Chili Salsa     41170        45
Carnitas Soft Tacos                       37673        40
Steak Crispy Tacos                        35818        36
Chips and Tomatillo-Green Chili Salsa     21826        33
Steak Salad Bowl                          29590        31
Nantucket Nectar                          21814        29
Chips and Tomatillo-Red Chili Salsa       18344        25
Barbacoa Soft Tacos                       18725        25
Chips and Roasted Chili Corn Salsa        14999        23
Izze                                      10587        20
Veggie Salad Bowl                         17303        18
Chips and Roasted Chili-Corn Salsa        17462        18
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Chicken Salad                             10465         9
Carnitas Crispy Tacos                      5868         8
Veggie Soft Tacos                          5520         8
Burrito                                    1550         6
Veggie Salad                               7265         6
Carnitas Salad Bowl                        6693         6
Bowl                                        472         4
Steak Salad                                2362         4
Salad                                      1150         2
Crispy Tacos                                434         2
Chips and Mild Fresh Tomato Salsa           279         1
Carnitas Salad                             1500         1
Veggie Crispy Tacos                         668         1

In [14]:
# most ordered item quantity
a['quantity'][0]

761

In [15]:
## most ordered item name
a.index[0]

'Chicken Bowl'

## #What was the most ordered item in the choice_description column?

In [16]:
b = df.groupby(['choice_description']).sum()
b = b.sort_values(['quantity'],ascending=False)
b.index[0]

'[Diet Coke]'

In [17]:
b

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
...                                                      ...       ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       577         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       585         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       235         1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cre...       987         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

In [18]:
## #Turn the item price into a float

In [19]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [20]:
type(df['item_price'])

pandas.core.series.Series

In [21]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [22]:
dollar = lambda x: float(x[1:-1])
df['item_price'] = df.item_price.apply(dollar)

In [23]:
#df.drop(columns=['item_price1'], axis=1, inplace=True)

In [24]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [25]:
## How much was the revenue for the period in the dataset?

In [26]:
revenue = (df['quantity']*df.item_price).sum()
revenue
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [27]:
## #print a data frame with only two columns item_name and item_price

In [28]:
new_df = df[['item_name','item_price']]
new_df

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

In [29]:
## # delete the duplicates in item_name and quantity

In [30]:
filtered = df.drop_duplicates(['item_name','quantity'])
filtered

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
3890,1559,2,Carnitas Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Cheese, Lettuce]]",17.98
3973,1592,4,Canned Soft Drink,[Coke],5.00
4152,1660,10,Bottled Water,NaN,15.00
4354,1738,2,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",18.50
4489,1786,4,Chips and Guacamole,NaN,17.80

In [31]:
## select only the products with quantity equals to 1

In [32]:
filtered_one_quantity = filtered[filtered['quantity']==1]
filtered_one_quantity

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
10,5,1,Chips and Guacamole,NaN,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.99
28,14,1,Canned Soda,[Dr. Pepper],1.09
33,17,1,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.99
34,17,1,Bottled Water,NaN,1.09
38,18,1,Chips and Tomatillo Green Chili Salsa,NaN,2.95
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
40,19,1,Chips,NaN,2.15
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75
54,25,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.99
56,26,1,Barbacoa Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",9.25
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
92,40,1,Steak Crispy Tacos,"[Fresh Tomato Salsa, Sour Cream]",9.25
111,49,1,Chips and Tomatillo Red Chili Salsa,NaN,2.95
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
191,85,1,Chips and Roasted Chili-Corn Salsa,NaN,2.39
233,102,1,Chips and Roasted Chili Corn Salsa,NaN,2.95
237,103,1,Carnitas Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",9.25
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98
263,114,1,Canned Soft Drink,[Coke],1.25
298,129,1,6 Pack Soft Drink,[Sprite],6.49
300,130,1,Chips and Tomatillo-Red Chili Salsa,NaN,2.39
510,214,1,Burrito,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",7.40
520,217,1,Crispy Tacos,[Adobo-Marinated and Grilled Steak],7.40
554,230,1,Carnitas Crispy Tacos,[Roasted Chili Corn Salsa],9.25
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.99
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",7.40
674,279,1,Chips and Mild Fresh Tomato Salsa,NaN,3.00
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89
1414,575,1,Salad,"[Brown Rice, Adobo-Marinated and Grilled Chick...",7.40
1653,668,1,Veggie Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
3750,1500,1,Carnitas Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.99

In [33]:
## # select only the item_name and item_price columns
item_name_item_price = filtered_one_quantity[['item_name','item_price']]
item_name_item_price

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
5                              Chicken Bowl       10.98
6                             Side of Chips        1.69
7                             Steak Burrito       11.75
8                          Steak Soft Tacos        9.25
10                      Chips and Guacamole        4.45
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
16                          Chicken Burrito        8.49
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
28                              Canned Soda        1.09
33                            Carnitas Bowl        8.99
34                            Bottled Water        1.09
38    Chips and Tomatillo Green Chili Salsa        2.95
39                            Barbacoa Bowl       11.75
40                                    Chips        2.15
44                       Chicken Salad Bowl        8.75
54                               Steak Bowl        8.99
56                      Barbacoa Soft Tacos        9.25
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
92                       Steak Crispy Tacos        9.25
111     Chips and Tomatillo Red Chili Salsa        2.95
168                   Barbacoa Crispy Tacos       11.75
186                       Veggie Salad Bowl       11.25
191      Chips and Roasted Chili-Corn Salsa        2.39
233      Chips and Roasted Chili Corn Salsa        2.95
237                     Carnitas Soft Tacos        9.25
250                           Chicken Salad       10.98
263                       Canned Soft Drink        1.25
298                       6 Pack Soft Drink        6.49
300     Chips and Tomatillo-Red Chili Salsa        2.39
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
554                   Carnitas Crispy Tacos        9.25
606                        Steak Salad Bowl       11.89
664                             Steak Salad        8.99
673                                    Bowl        7.40
674       Chips and Mild Fresh Tomato Salsa        3.00
738                       Veggie Soft Tacos       11.25
1132                    Carnitas Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1414                                  Salad        7.40
1653                    Veggie Crispy Tacos        8.49
1694                           Veggie Salad        8.49
3750                         Carnitas Salad        8.99

In [34]:
## # sort the values from the most to less expensive
item_name_item_price.sort_values(['item_price'],ascending=False)

                                  item_name  item_price
606                        Steak Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1132                    Carnitas Salad Bowl       11.89
7                             Steak Burrito       11.75
168                   Barbacoa Crispy Tacos       11.75
39                            Barbacoa Bowl       11.75
738                       Veggie Soft Tacos       11.25
186                       Veggie Salad Bowl       11.25
62                              Veggie Bowl       11.25
57                           Veggie Burrito       11.25
250                           Chicken Salad       10.98
5                              Chicken Bowl       10.98
8                          Steak Soft Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
56                      Barbacoa Soft Tacos        9.25
92                       Steak Crispy Tacos        9.25
664                             Steak Salad        8.99
54                               Steak Bowl        8.99
3750                         Carnitas Salad        8.99
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
33                            Carnitas Bowl        8.99
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
44                       Chicken Salad Bowl        8.75
1653                    Veggie Crispy Tacos        8.49
16                          Chicken Burrito        8.49
1694                           Veggie Salad        8.49
1414                                  Salad        7.40
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
673                                    Bowl        7.40
298                       6 Pack Soft Drink        6.49
10                      Chips and Guacamole        4.45
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
111     Chips and Tomatillo Red Chili Salsa        2.95
233      Chips and Roasted Chili Corn Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
3     Chips and Tomatillo-Green Chili Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
0              Chips and Fresh Tomato Salsa        2.39
40                                    Chips        2.15
6                             Side of Chips        1.69
263                       Canned Soft Drink        1.25
28                              Canned Soda        1.09
34                            Bottled Water        1.09

## #What was the quantity of the most expensive item ordered?

In [35]:
b = df.sort_values(by='item_price',ascending = False)
b['item_name'][0]

'Chips and Fresh Tomato Salsa'

## How many times were a Veggie Salad Bowl ordered?

In [36]:
df[df['item_name']=='Veggie Salad Bowl'].shape[0]

18